<app-aside></app-aside>
<main #main>
    <app-header></app-header>
    <section>
        <div class="cards">
            <div class="card__single">
                <div>
                    <h3>titulo</h3>
                    <span>lorem</span>
                </div>
                <div><span>

                    <i class="far fa-address-card"></i> 
                </span>
                </div>
            </div>
            <div class="card__single">
                <div>
                    <h3>titulo</h3>
                    <span>lorem</span>
                </div>
                <div><span>

                    <i class="far fa-address-card"></i> 
                </span>
                </div>
            </div>
            <div class="card__single">
                <div>
                    <h3>titulo</h3>
                    <span>lorem</span>
                </div>
                <div><span>

                    <i class="far fa-address-card"></i> 
                </span>
                </div>
            </div>
            <div class="card__single">
                <div>
                    <h3>titulo</h3>
                    <span>lorem</span>
                </div>
                <div><span>

                    <i class="far fa-address-card"></i> 
                </span>
                </div>
            </div>
        </div>
    </section>
    inicio
</main>
<!-- <section style="margin: 100vh;"></section>
<section style="margin: 100vh;"></section>
<section style="margin: 100vh;"></section> -->
<section *ngIf="errorMessage$ | async as errorM">
    <h1>ocurrio un error</h1>
    {{ errorM }}
    {{ errorM | json }}
</section>
<app-footer></app-footer>
