<app-aside></app-aside>
<main #main>
    <app-header></app-header>
    <section *ngIf="usuarios$ | async as usuarios">
        <div class="cards">

                <div class="card__single" *ngFor="let usu of usuarios">
                    <div>
                        <h3>{{ usu.nombre }}</h3>
                        <span> {{ usu.edad }} </span>
                    </div>
                    <div>
                        <span>

                            <i class="far fa-address-card"></i> 
                        </span>
                    </div>
                </div>
        </div>
        <section class="seccion" >
        </section>
    </section>
    inicio
    
    <a routerLink="/inicio/otro">otro</a>
    
</main>



<!-- <section style="margin: 100vh;"></section>
<section style="margin: 100vh;"></section>
<section style="margin: 100vh;"></section> -->
<section *ngIf="errorMessage$ | async as errorM">
    <h1>ocurrio un error</h1>
    {{ errorM }}
    {{ errorM | json }}
</section>
<app-footer></app-footer>
