<!-- <app-aside></app-aside> -->
<main #main>
    <!-- <app-header></app-header> -->
    <section *ngIf="usuarios.length > 0">
        <div class="cards">
            <div class="contenedor__card" *ngFor="let usu of usuarios">
                <div class="card__single">
                    <div>
                        <h3>{{ usu.nombre }}</h3>
                        <span> {{ usu.edad }} </span>
                    </div>
                    <div>
                        <span>
                            <i class="far fa-address-card"></i> 
                        </span>
                    </div>
                </div>
                <div>
                    <input class="boton" type="button" value="Eliminar" (click)="toggleModal(usu.id)">
                </div>
            </div>
        </div>
        <section class="seccion" >
        </section>
    </section>
    
</main>

<div class="todo" *ngIf="mostrarModal">
    <div class="centro">
        <div class="header">
            <p>Eliminar: </p>
        </div>
        <div class="body">
            <p> ¿ deses <span> eliminar </span> ? </p>
        </div>
        
        <div>
            <hr />
            <br />
            <div class="footer">
                <input type="button" value="cancelar" (click)="toggleModal()">
                <input type="button" value="eliminar" (click)="eliminr(usu)">
            </div>
        </div>
    </div>
</div>

<!-- <section style="margin: 100vh;"></section>
<section style="margin: 100vh;"></section>
<section style="margin: 100vh;"></section> -->
<section *ngIf="errorMessage$ | async as errorM">
    <h1>ocurrio un error</h1>
    {{ errorM }}
    {{ errorM | json }}
</section>
