<section class="sidebar">
    <div class="sidebar__brand">
        <h2><span class="las la-bars"></span> <span *ngIf="this.mostrar">acussoft</span></h2>
    </div>
    <div class="sidebar__menu" >
        <ul>
            <li>
                <a routerLinkActive="active" routerLink="/login">
                    <span><i class="las la-igloo"></i></span>
                    <!-- <span *ngIf="this.mostrar">hola</span> -->
                    <span class="" >Login</span>
                </a>
                
            </li>
            <li>
                <a routerLinkActive="active" routerLink="inicio">
                    <span><i class="las la-clipboard-list"></i></span>
                    <!-- <span *ngIf="this.mostrar">hola</span> -->
                    <span class="" >Inicio</span>
                </a>
                
            </li>
            <li>
                <a routerLink="">
                    <span><i class="las la-users"></i></span>
                    <!-- <span *ngIf="this.mostrar">hola</span> -->
                    <span class="" >Registrar</span>
                </a>
                
            </li>
            <li class="">
                <a  href="#">
                    <span><i class="las la-user-circle"></i></span>
                    <!-- <span *ngIf="this.mostrar">hola</span> -->
                    <span class="" >Perfil</span>
                </a>
                
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/inicio/crear">
                    <span><i class="las la-receipt"></i></span>
                    <!-- <span *ngIf="this.mostrar">hola</span> -->
                    <span class="" >Crear</span>
                </a>
                
            </li>
        </ul>
    </div>
</section>
